In [13]:
import pandas as pd

df_worldbank = pd.read_csv('cleaned_worldbank.csv')

df_ukraine_support = pd.read_excel('Ukraine Support Tracker.xlsx', sheet_name='Bilateral Assistance, MAIN DATA')

cols = [
    "donor", "announcement_date", "aid_type_general", "aid_type_specific", "reporting_currency",
    "measure", "source_reported_value", "tot_activity_value", "tot_activity_value_EUR",
    "tot_activity_value_constant_currency", "tot_sub_activity_value",
    "tot_sub_activity_value_EUR", "tot_sub_activity_value_constant_currency",
    "tot_sub_activity_value_constant_currency_redistr",
    "tot_sub_activity_value_EUR_redistr", "tot_value_deliv_EUR"
]

df_ukraine_support = df_ukraine_support[cols]

df_ukraine_support.head()

,donor,announcement_date,aid_type_general,aid_type_specific,reporting_currency,measure,source_reported_value,tot_activity_value,tot_activity_value_EUR,tot_activity_value_constant_currency,tot_sub_activity_value,tot_sub_activity_value_EUR,tot_sub_activity_value_constant_currency,tot_sub_activity_value_constant_currency_redistr,tot_sub_activity_value_EUR_redistr,tot_value_deliv_EUR
0,Australia,2022-03-01 00:00:00,Humanitarian,Equipment,AUD,Allocation,35000000,35000000,23417159.978474,2.117815e+07,35000000,2.341716e+07,2.117815e+07,2.117815e+07,2.341716e+07,.
1,Australia,2022-03-20 00:00:00,Humanitarian,Equipment,AUD,Allocation,32600000,32600000,21811411.865664,1.972593e+07,32600000,2.181141e+07,1.972593e+07,1.972593e+07,2.181141e+07,.
2,Australia,2022-03-20 00:00:00,Humanitarian,Assistance,AUD,Allocation,12000000,12000000,8028740.564048,7.261080e+06,12000000,8.028741e+06,7.261080e+06,7.261080e+06,8.028741e+06,.
3,Australia,2022-03-20 00:00:00,Humanitarian,Contribution,AUD,Allocation,10000000,10000000,6690617.136707,6.050900e+06,10000000,6.690617e+06,6.050900e+06,6.050900e+06,6.690617e+06,.
4,Australia,2022-03-20 00:00:00,Humanitarian,Contribution,AUD,Allocation,8000000,8000000,5352493.709365,4.840720e+06,8000000,5.352494e+06,4.840720e+06,4.840720e+06,5.352494e+06,.

In [14]:
#convert to datetime
df_ukraine_support['announcement_date'] = pd.to_datetime(df_ukraine_support['announcement_date'], errors='coerce')

#parse for year
df_ukraine_support['Year'] = df_ukraine_support['announcement_date'].dt.year.astype('Int64')

df_ukraine_support = df_ukraine_support.drop(columns='announcement_date')

df_ukraine_support = df_ukraine_support.rename(columns={'donor': 'Country Name'})

df_ukraine_support.head()

,Country Name,aid_type_general,aid_type_specific,reporting_currency,measure,source_reported_value,tot_activity_value,tot_activity_value_EUR,tot_activity_value_constant_currency,tot_sub_activity_value,tot_sub_activity_value_EUR,tot_sub_activity_value_constant_currency,tot_sub_activity_value_constant_currency_redistr,tot_sub_activity_value_EUR_redistr,tot_value_deliv_EUR,Year
0,Australia,Humanitarian,Equipment,AUD,Allocation,35000000,35000000,23417159.978474,2.117815e+07,35000000,2.341716e+07,2.117815e+07,2.117815e+07,2.341716e+07,.,2022
1,Australia,Humanitarian,Equipment,AUD,Allocation,32600000,32600000,21811411.865664,1.972593e+07,32600000,2.181141e+07,1.972593e+07,1.972593e+07,2.181141e+07,.,2022
2,Australia,Humanitarian,Assistance,AUD,Allocation,12000000,12000000,8028740.564048,7.261080e+06,12000000,8.028741e+06,7.261080e+06,7.261080e+06,8.028741e+06,.,2022
3,Australia,Humanitarian,Contribution,AUD,Allocation,10000000,10000000,6690617.136707,6.050900e+06,10000000,6.690617e+06,6.050900e+06,6.050900e+06,6.690617e+06,.,2022
4,Australia,Humanitarian,Contribution,AUD,Allocation,8000000,8000000,5352493.709365,4.840720e+06,8000000,5.352494e+06,4.840720e+06,4.840720e+06,5.352494e+06,.,2022

In [15]:
df_worldbank = (
    df_worldbank
      .pivot_table(
          index=['Country Name','Country Code','Year'],
          columns='Series Name',
          values='Value',
          aggfunc='sum',
      )
      .reset_index()
)

df_worldbank.columns.name = None
df_worldbank = df_worldbank.rename_axis(None, axis=1)

df_worldbank = df_worldbank[(df_worldbank['Year'] >= 2022)]

df_worldbank.head()

,Country Name,Country Code,Year,"Armed forces personnel, total",Arms exports (SIPRI trend indicator values),Arms imports (SIPRI trend indicator values),Military expenditure (% of GDP),Military expenditure (current USD)
62,Afghanistan,AFG,2022,0.0,0.0,0.0,0.000000,0.000000e+00
63,Afghanistan,AFG,2023,0.0,0.0,0.0,0.000000,0.000000e+00
126,Albania,ALB,2022,0.0,0.0,0.0,1.210983,2.286932e+08
127,Albania,ALB,2023,0.0,0.0,1000000.0,1.743992,3.976176e+08
190,Algeria,DZA,2022,0.0,0.0,418000000.0,4.695022,9.145810e+09

In [16]:
df_merged = pd.merge (
    df_ukraine_support,
    df_worldbank,
    how='inner',
    on=['Country Name', 'Year']
)

df_merged.to_csv('merged_dataset.csv', index=False)

df_merged.head()

,Country Name,aid_type_general,aid_type_specific,reporting_currency,measure,source_reported_value,tot_activity_value,tot_activity_value_EUR,tot_activity_value_constant_currency,tot_sub_activity_value,...,tot_sub_activity_value_constant_currency_redistr,tot_sub_activity_value_EUR_redistr,tot_value_deliv_EUR,Year,Country Code,"Armed forces personnel, total",Arms exports (SIPRI trend indicator values),Arms imports (SIPRI trend indicator values),Military expenditure (% of GDP),Military expenditure (current USD)
0,Australia,Humanitarian,Equipment,AUD,Allocation,35000000,35000000,23417159.978474,2.117815e+07,35000000,...,2.117815e+07,2.341716e+07,.,2022,AUS,0.0,19000000.0,815000000.0,1.908336,3.244533e+10
1,Australia,Humanitarian,Equipment,AUD,Allocation,32600000,32600000,21811411.865664,1.972593e+07,32600000,...,1.972593e+07,2.181141e+07,.,2022,AUS,0.0,19000000.0,815000000.0,1.908336,3.244533e+10
2,Australia,Humanitarian,Assistance,AUD,Allocation,12000000,12000000,8028740.564048,7.261080e+06,12000000,...,7.261080e+06,8.028741e+06,.,2022,AUS,0.0,19000000.0,815000000.0,1.908336,3.244533e+10
3,Australia,Humanitarian,Contribution,AUD,Allocation,10000000,10000000,6690617.136707,6.050900e+06,10000000,...,6.050900e+06,6.690617e+06,.,2022,AUS,0.0,19000000.0,815000000.0,1.908336,3.244533e+10
4,Australia,Humanitarian,Contribution,AUD,Allocation,8000000,8000000,5352493.709365,4.840720e+06,8000000,...,4.840720e+06,5.352494e+06,.,2022,AUS,0.0,19000000.0,815000000.0,1.908336,3.244533e+10